<a href="https://colab.research.google.com/github/HakujouRyu/DS-Unit-1-Sprint-2-Data-Wrangling-and-Storytelling/blob/master/module2-find-portfolio-ideas/LS_DS_121_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

## Importing

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-09-09 21:59:48--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.146.157
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.146.157|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  16.2MB/s    in 13s

2019-09-09 22:00:02 (14.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Merging and Concat
Using 'InstaCart' Data

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__train = pd.read_csv('order_products__train.csv')
products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')

In [0]:
#Combine order DFs
order_products = pd.concat([order_products__prior, order_products__train])

In [8]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [0]:
#Don't need Orders
del orders

In [11]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [0]:
#don't need Aisles
del aisles

In [13]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [0]:
#don't need Departments
del departments

In [15]:
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [16]:
#Let's get subsets
#We need product id, product name, and order id, from order_products and products
products = products[['product_id', 'product_name']]
products.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [17]:
order_products = order_products[['order_id', 'product_id']]
order_products.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [0]:
#Merge time
merged = pd.merge(order_products, products, how='inner', on='product_id')

In [19]:
merged.head()

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [20]:
merged.product_name.value_counts().nlargest(10)

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

# Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

##Tidying

In [0]:
#importing lecture code
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

In [22]:
table1

              treatmenta  treatmentb
John Smith           NaN           2
Jane Doe            16.0          11
Mary Johnson         3.0           1

In [23]:
table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
#tidying table2 
#reset index, melt, clean
table2 = table2.reset_index().rename(columns={'index': 'Treatment'})

In [25]:
table2

    Treatment  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [26]:
tidy = table2.melt(id_vars='Treatment', value_vars=['John Smith', 'Jane Doe']).rename(columns={'variable': 'Name'})
tidy.Treatment = tidy.Treatment.str.replace('treatment','')
tidy

  Treatment        Name  value
0         a  John Smith    NaN
1         b  John Smith    2.0
2         a    Jane Doe   16.0
3         b    Jane Doe   11.0

In [0]:
#reverting tidy
wide = tidy.pivot_table(index='Name', columns='Treatment', values='value')

In [28]:
wide

Treatment      a     b
Name
Jane Doe    16.0  11.0
John Smith   NaN   2.0

## Flight Data

In [0]:
flights = sns.load_dataset('flights')

In [30]:
#Inspecting Data
flights.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [31]:
flights.pivot_table(index='year', columns='month', values='passengers')

month  January  February  March  April  ...  September  October  November  December
year                                    ...
1949       112       118    132    129  ...        136      119       104       118
1950       115       126    141    135  ...        158      133       114       140
1951       145       150    178    163  ...        184      162       146       166
1952       171       180    193    181  ...        209      191       172       194
1953       196       196    236    235  ...        237      211       180       201
1954       204       188    235    227  ...        259      229       203       229
1955       242       233    267    269  ...        312      274       237       278
1956       284       277    317    313  ...        355      306       271       306
1957       315       301    356    348  ...        404      347       305       336
1958       340       318    362    348  ...        404      359       310       337
1959       360       342    406    396  ...        463      407       362       405
1960       417       391    419    461  ...        508      461       390       432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [32]:
merged.head()

   order_id  product_id        product_name
0         2       33120  Organic Egg Whites
1        26       33120  Organic Egg Whites
2       120       33120  Organic Egg Whites
3       327       33120  Organic Egg Whites
4       390       33120  Organic Egg Whites

In [33]:
orders = pd.read_csv('orders.csv')
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [34]:
orders = orders[['order_id', 'order_hour_of_day']]
orders.head()

   order_id  order_hour_of_day
0   2539329                  8
1   2398795                  7
2    473747                 12
3   2254736                  7
4    431534                 15

In [35]:
remerged = pd.merge(merged, orders, how='inner', on='order_id')
remerged.head(15)

    order_id  ...  order_hour_of_day
0          2  ...                  9
1          2  ...                  9
2          2  ...                  9
3          2  ...                  9
4          2  ...                  9
5          2  ...                  9
6          2  ...                  9
7          2  ...                  9
8          2  ...                  9
9         26  ...                 16
10        26  ...                 16
11        26  ...                 16
12        26  ...                 16
13        26  ...                 16
14        26  ...                 16

[15 rows x 4 columns]

In [0]:
remerged = remerged.sort_values('order_hour_of_day', ascending=False)

In [0]:
#Clearing some RAM
del products, order_products__prior, order_products__train, flights

In [47]:
# remerged[remerged['Product_name']]
remerged.groupby('product_name').first()

                                                    order_id  ...  order_hour_of_day
product_name                                                  ...
#2 Coffee Filters                                     697292  ...                 23
#2 Cone White Coffee Filters                           17863  ...                 20
#2 Mechanical Pencils                                 693035  ...                 22
#4 Natural Brown Coffee Filters                      1769131  ...                 23
& Go! Hazelnut Spread + Pretzel Sticks               1296301  ...                 22
'Swingtop' Premium Lager                              796044  ...                 19
(70% Juice!) Mountain Raspberry Juice Squeeze        1108714  ...                 23
+Energy Black Cherry Vegetable & Fruit Juice          514590  ...                 20
.5\" Waterproof Tape                                  149926  ...                 14
0 Calorie Acai Raspberry Water Beverage              3008404  ...                 23
0 Calorie Fuji Apple Pear Water Beverage              446071  ...                 23
0 Calorie Strawberry Dragonfruit Water Beverage      3008404  ...                 23
0% Fat Black Cherry Greek Yogurt y                    616917  ...                 22
0% Fat Blueberry Greek Yogurt                         808565  ...                 23
0% Fat Free Organic Milk                              742187  ...                 23
0% Fat Greek Yogurt Black Cherry on the Bottom       2545063  ...                 23
0% Fat Greek Yogurt Vanilla                          3213140  ...                 22
0% Fat Organic Greek Vanilla Yogurt                  1200651  ...                 23
0% Fat Peach Greek Yogurt                             808565  ...                 23
0% Fat Strawberry Greek Yogurt                       1211984  ...                 23
0% Fat Superfruits Greek Yogurt                      1063178  ...                 23
0% Fat Vanilla Greek Yogurt                          1558338  ...                 23
0% Greek Strained Yogurt                             1174917  ...                 23
0% Greek Yogurt Black Cherry on the Bottom           2322172  ...                 23
0% Greek, Blueberry on the Bottom Yogurt              924102  ...                 23
0% Milkfat Greek Plain Yogurt                        1457539  ...                 23
0% Milkfat Greek Yogurt Honey                        1457539  ...                 23
007 Vodka With Martini Glasses                       2958116  ...                 17
1 % Lowfat Milk                                      3225508  ...                 23
1 Apple + 1 Mango Fruit Bar                          3168918  ...                 23
...                                                      ...  ...                ...
of Norwich Original English Mustard Powder Doub...   1629735  ...                 23
pumpkin spice                                        3044333  ...                 23
rich kiss Olive & Aloe Moisturizer 2 in 1            2228378  ...                 23
smart Blend Chicken & Rice Formula Dry Dog Food      1116925  ...                 23
smartwater® Electrolyte Enhanced Water               3170195  ...                 23
vitaminwater® XXX Acai Blueberry Pomegranate         1942927  ...                 23
w/Banana Pulp Free Juice                             2113725  ...                 21
with Bleach Disinfectant Cleanser Scratch Free ...   1538247  ...                 22
with Bleach Powder Cleanser                          2314031  ...                 23
with Color Safe Brightener Power Paks 2in1 Stai...   1836384  ...                 23
with Crispy Almonds Cereal                           1213413  ...                 23
with Dawn Action Pacs Fresh Scent Dishwasher De...   3241459  ...                 23
with Lime Juice Mayonesa Mayonnaise                   796572  ...                 20
with Mac & Cheese Fish Sticks                        1819164  ...                 21
with Olive Oil Mayonnaise                             818904  ...                 23
with Olive Oil Mayonnaise Dressing                   2738040  ...                 23
with Pump Rebalancing Shampoo                        1840772  ...                 22
with Seasoned Roasted Potatoes Scrambled Eggs &...   1252940  ...                 23
with Sweet & Smoky BBQ Sauce Cheeseburger Sliders    2686784  ...                 21
with Sweet Cinnamon Bunches Cereal                    973247  ...                 23
with Twist Ties Sandwich & Storage Bags              1135642  ...                 23
with Xylitol Cinnamon 18 Sticks Sugar Free Gum        830743  ...                 23
with Xylitol Island Berry Lime 18 Sticks Sugar ...   2679465  ...                 21
with Xylitol Minty Sweet Twist 18 Sticks Sugar ...    292692  ...                 21
with Xylitol Original Flavor 18 Sticks Sugar Fr...    766894  ...                 22
with Xylitol Unwrapped Original Flavor 50 Stick...    778262  ...                 23
with Xylitol Unwrapped Spearmint 50 Sticks Suga...   2480038  ...                 22
with Xylitol Watermelon Twist 18 Sticks Sugar F...   2517886  ...                 23
with a Splash of Mango Coconut Water                  142076  ...                 20
with a Splash of Pineapple Coconut Water              920727  ...                 21

[49685 rows x 3 columns]

In [41]:
remerged[temp]

ValueError: ignored

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####